<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Comments</th>
      
    </tr>
  </thead>
  <tbody>
    <% prints.forEach((print) => { %>
      <tr>
        <td><%= print.title %></td>
        <td><%= print.startDate.toLocaleString('en-US', { timeZone: 'UTC' }) %></td>
        <td><%= print.endDate.toLocaleString('en-US', { timeZone: 'UTC' }) %></td>
        <td><%= print.comments %></td>
        <td>
            <a id="deatailsButton" type="submit" class="btn btn-success btn-sm"   href="/prints/<%= print._id %>">DETAILS</a>
        </td>
        <td>
            <form action="/prints/<%= print._id %>?_method=DELETE" method="POST" class="delete-form">
                <button id="submitButton" type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
