<%- include('../partials/header') %>

<section id="show-page">
  <section id="show-page">
  <div>Title: 
    <%= print.title %></div>
  <div>Start Date: 
    <%= print.startDate.toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
  <div>End Date: 
    <%= print.endDate.toLocaleString('en-US', { timeZone: 'UTC' }) %></div>
  <div>Comments: 
    <%= print.comments %></div>
</section>

<%- include('../partials/footer') %>
